<ion-content>
  <img src="../../assets/images/gpdi.png" alt="logo">

  <br>
  <br>
  <br>

  <input type="text" [(ngModel)]="username" placeholder="Username">
  <input type="password" [(ngModel)]="password" placeholder="Password">

  <button ion-button round block color="primary" class="login" (click)="LogOn()">Login</button>
  <button ion-button round block color="light" class="resgister" (click)="SignUp()">Register</button>
</ion-content>
