page-login {
    ion-content{
      background-image: url("../../assets/images/backgroundsblankblue.jpg");
      background-size: cover;
      text-align: center;
    }
  
    img{
      margin-top: 100px;
      width: 120px;
    }
  
    button{
      -webkit-box-shadow : 0 10px 30px 0 rgba(95,186,233,0.4);
      box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
      margin: 0px;
    }
  
    .login{
      margin-top: 10px;
      text-align: center;
      border: none;
      padding: 15px 80px;
      text-decoration: none;
      display: inline-block;
      text-transform: uppercase;
      font-size: 13px;
      transition: all 0.3s ease-in-out;
      width: 85%;
      height: 35px;
      color: #ffffff;
    }
  
    .resgister{
      margin-top: 10px;
      text-align: center;
      border: none;
      padding: 15px 80px;
      text-decoration: none;
      display: inline-block;
      text-transform: uppercase;
      font-size: 13px;
      transition: all 0.3s ease-in-out;
      width: 85%;
      height: 35px;
      color: #488aff;
    }
  
    input[type=text], input[type=password]{
      background-color: white;
      border: none;
      color: #535353;
      padding: 15px 32px;
      text-decoration: none;
      font-size: 16px;
      margin: 5px;
      width: 85%;
      border: 2px solid #f6f6f6;
      transition: all 0.5s ease-in-out;
      height: 35px;
      text-align: center;
      margin: 0 auto;
      margin-bottom: 10px;
    }
  }
  