<ion-header>
  <ion-navbar color="primary">
    <ion-buttons left>
      <button ion-button icon-only (click)="filter(null, 1)" *ngIf="image">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      Ionic Image Filter
    </ion-title>
    <ion-buttons right>
      <button ion-button icon-only (click)="captureImage()">
        <ion-icon name="camera"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
 
<ion-content padding>
  <ion-row *ngIf="image">
    <ion-col>
      <button ion-button outline color="primary" (click)="filter('Sepia')">
        Sepia
      </button>
    </ion-col>
    <ion-col>
      <button ion-button outline color="primary" (click)="filter('Polaroid')">
        Polaroid
      </button>
    </ion-col>
    <ion-col>
      <button ion-button outline (click)="filter('greyscale')">
        Grey
      </button>
    </ion-col>
    <ion-col>
      <button ion-button outline (click)="filter('contrast')">
        Contrast
      </button>
    </ion-col>
    <ion-col>
      <button ion-button outline (click)="filter('brightness', 1.7)">
        Bright
      </button>
    </ion-col>
    <ion-col>
      <button ion-button outline (click)="filter('saturation')">
        Saturation
      </button>
    </ion-col>
    <ion-col>
      <button ion-button outline (click)="filter('hue', 120)">
        Hue
      </button>
    </ion-col>
  </ion-row>
 
  <web-photo-filter [class.only-original]="!selectedFilter" [class.no-original]="selectedFilter" [src]="image"
   [filter]="selectedFilter" [level]="level" keep="true" (filterLoad)="imageLoaded($event)"></web-photo-filter>
 
</ion-content>