<!--
  Generated template for the RegisteruserPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Register User</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list no-line>

    <ion-item>
  
      <ion-input type="text" placeholder="Name" name="fullname" #name></ion-input>
  
    </ion-item>
  
      <ion-item>
  
      <ion-input type="text" placeholder="Username" name="username" #username></ion-input>
  
    </ion-item>
  
    <ion-item>
  
      <ion-input type="password" placeholder="Password" name="password" #password></ion-input>
  
    </ion-item>
  
  </ion-list>
  
  <div padding>

  <button ion-button  round outline block (click)="Register()">Register</button>
  
  </div>
</ion-content>

